<html>
  <head>
    <meta charset="utf-8">
    
    <title><%= user_name %>'s CV</title>
  </head>
  <body>
    <h1>Personal Details:</h1>
    <p><%= user_name %></p>
    <p><%= user_email %></p>
    <p><%= user_phone %></p>
    <p><%= user_city %></p>
    <p><%= user_country %></p>
    
    <h1>Previous Experience</h1>
    <p><%= user_compamyName %></p>
    <p><%= user_name %></p>
    <p><%= user_jobtitle %></p>
    <p><%= user_jobdescription %></p>
    <p><%= user_startdate %></p>
    <p><%= user_enddate %></p>

    <h1>Education</h1>
    <p><%=user_insttitution %></p>
    <p><%= user_qualification %></p>
    <p><%= user_graduationdate %></p>
    <p><%= user_fieldOfStudy %></p>


     <h1>Skills</h1>
    <p><%=user_skill %></p>
    

    







    
   
    <h2>Summery</h2>
    <p><%= user_summery %></p>


  </body>
</html>